body {
  text-align: center;
  font-family: helvetica;
}
.intro {
  background-image: url("images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a {
  color: white;
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h3.special {
  background-image: url("images/the-flatiron-building.png");
  color: white;
}
.footer {
  text-align: left;
  background-color: dimgray;
}
p.copyright {
  font-size: 11px;
  color: white;
}
